@use '_variables';

.reasons {
    padding: 150px 10px;

    &-wrapper {
        background-color: variables.$grey;
    }

    &__content {
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        width: 120px;
    }

    &__img {
        width: auto;
        margin: 0 auto;
        height: 65px;
        object-fit: cover;
    }

    &__description {
        padding: 25px 0;
        font-family: variables.$main-font;
        color: variables.$text-color;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        line-height: 25px;
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (max-width: variables.$md){

    .reasons {
        padding: 100px 0;

        &__content {
            padding-top: 50px;
        }
    }
}