$text-color: #000000;
$text-color-grey: #333;
$grey: #f4f4f4;
$dark-green: #173d2a;
$dark-blue: #293c52;
$main-font: "Montserrat";
$italic-font: "Cormorant Infant";

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 448px;
